  <!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="h1-responsive">Contact Us</h1>
            <p class="lead">The Small n Stats project is always looking for additional collaborators and testers. For specific concerns, bug reports, compatibility issues and the like--it's preferable for users to log an "issue" on the specific Github repository. This resources allows researchersa and developers to track issues, assign fixers, and keep people updated on what might be broken and what is currently being worked on. For more general concerns and questions, these are best shared by posting a message on Gitter. Gitter is a repository-focused chatroom where developers assisting with a project can respond to queries in a chat-like format. The specific options for communication are listed below.</p>
        </div>
    </div>
</div>
<!--/.Header row-->

<!--First row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/Github.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-5">
        <a href="https://www.github.com/miyamot0"><h2 class="post-title">Github</h2></a>
        <p class="lead">Github is an online repository of open-sourced projects. Repositories are stores of source code that can be used to create, re-create, or inspire projects. These generally include the source code to create websites, computer programs, runnable scripts, statistical operations, and mobile applications. These could also hold resources such as published study data, presentations, images, and other types of assets. Each repository can be copied by anyone and then modified, tested, and expanded to suit virtually any other purpose or need. Github is the preferred method for reporting issues related to compatibility and bugs.</p>
        <p class="lead">If a bug is found or a feature might be lacking, users are encouraged to log an issue in the specific repository. For example, if an error is found on the Bayesian Model Selector (Windows version) users are encouraged to navigate to "Issues" pane in the repository of the Bayesian Model Selector and clearly note their issue. Once posted, individual developers are assigned and the issue will be tracked.</p>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.First row-->

<hr class="extra-margin">

<!--Second row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/Gitter.svg" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a href="https://gitter.im/smallnstats/Lobby"><h2 class="post-title">Gitter</h2></a>
        <p class="lead">Gitter is an online service where users can log into group chats specific to a project or topic (e.g., Discounting Model Selector). For example, users can log into the Small n stats Gitter group and have access to developers who currently work on the project. This allows developers to answer more general questions, field general support, and direct novice users to other types of resources. Generally, this is a preferred alternative instead of logging issues for general usability questions.</p>
        <p class="lead">When unsure of how to operate a program or reproduce results, users are encouraged to present their queries to the Gitter channel. Developers may or may not be available (we span multiple continents), but questions posed in this channel can often be fielded by one of several developers. It is fairly active most days.</p>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.Second row-->

<hr class="extra-margin">

<!--Third row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/Facebook.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a href="https://www.facebook.com/SmallNStats/"><h2 class="post-title">Facebook</h2></a>
        <p class="lead">Updates to the site and projects are occasionally posted to the Facebook user group. This is usually the easiest way to get very general updates regarding the programs and offerings from this group, though technical questions and support aren't meant to be delivered there.</p>
        <p class="lead">Joining the Facebook group would allow you to keep up-to-date on the current programs and tools maintained here, as well as keep current with new programs, publications, and tutorials (in the works).</p>
    </div>
    <!--/.Post excerpt-->
</div>
<!--Third row-->