  <!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="h1-responsive">Data Tracker</h1>
            <p class="lead">Data Tracker is a computer-based electronic data collection tool designed for researchers and clinicians measuring behavior in real-time. It is designed to easily accomodate situation where complex, simultaneous forms of behavior need to be recorded. This program calculations measures of agreement, provides a range of reports, visualizes on-going data recording, and outputs behavioral measurements in a range of formats.</p>
            <p class="lead"><strong>Requirements</strong></p>
            <ul class="lead">
              <li>&#9658; Windows / OS X 10.6+ / modern Linux distro</li>
              <li>&#9658; Internet access, for installation and updates.</li>
            </ul>
            <p class="lead"><strong>Status: Open beta testing</strong></p>
            <div class="read-more">
              <a href="index.php?page=Download" class="btn btn-success btn-raised">Download</a>
              <a href="https://github.com/miyamot0/DataTracker3" class="btn btn-info btn-raised">Source Code</a>
            </div>
        </div>
    </div>
</div>
<!--/.Header row-->

<!--First row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DataTrackerEvaluation.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Examine Between-Session Responding</h2></a>
        <p class="lead">The Data Tracker program collects a range of behavioral data and incoming data can be viewed and interpreted in a range of ways. Between-session visual analysis can be performed by selected which types of behavior to display and aggregating those types of behavior accordingly.</p>
        <p class="lead"><strong>Current features:</strong></p>
        <ul class="lead">
          <li>&#9658; Combining and displaying overall rates of target behavior</li>
          <li>&#9658; Illustrate individual rates of target behavior over time</li>
          <li>&#9658; Display behavior across baseline/intervention or conditions</li>
        </ul>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.First row-->

<hr class="extra-margin">

<!--Fourth row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DataTrackerSessionViewer.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Examine Within-Session Responding</h2></a>
        <p class="lead">Data Tracker provides within-subject methods for interpreting behavioral data in real-time. These types of analyses assist in the interpretation how behavior takes places in the context other, alternative behavior of interest. Within-session figures can be viewed for recorded sessions as well as provided post-session, as desired.</p>
    </div>
    <!--/.Post excerpt-->
</div>

<hr class="extra-margin">

<!--Second row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DataTrackerDesigner.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Easy-to-use Session Designer</h2></a>
        <p class="lead">The Data Tracker program allows for users to design a range of experiments/treatment conditions. Support is provided for rate/duration-based targets and the measurements provided can accomodate multiple schedules as well. At present, up to three reinforcement schedules can be accomodated concurrently.</p>
    </div>
    <!--/.Post excerpt-->
</div>
