  <!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row wow fadeIn" data-wow-delay="0.2s">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="h1-responsive">Demand Curve Analyzer</h1>
            <p class="lead">The Demand Curve Analyzer was a tool designed to assist clinicians and researchers in conducting behavior economic analyses while also providing more accessible options for these calculations. Demand Curve Analyzer interacts with ALGLIB, a computer library designed to perform linear algebra, to faciliate multiple forms of model fitting while retaining a simple, spreadsheet-based interface with visual guidance. This project is fully open-sourced under a GPL-license (v3) and all source code is completely available (between the current source and in the beezdemand package).</p>
            <p class="lead">All computations can be performed solely with "point and click" types of operations (no programming experience necessary), though all source code and script file are are publicly shared via Github.</p>
            <p class="lead"><strong>Requirements</strong></p>
            <ul class="lead">
              <li>&#9658; Windows / OS X 10.6+ / modern Linux distro</li>
              <li>&#9658; Internet access, for installation and updates.</li>
            </ul>
            <p class="lead"><strong>Status: Closed Alpha Testing</strong></p>
            <div class="read-more">
              <a href="index.php?page=Download" class="btn btn-success btn-raised">Download</a>
              <a href="https://github.com/miyamot0/DemandCalculatorQT" class="btn btn-info btn-raised">Source Code</a>
            </div>
        </div>
    </div>
</div>
<!--/.Header row-->

<!--First row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DemandSheet.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Spreadsheet Interface</h2></a>
        <p class="lead">Demand Curve Analyzer uses a familiar and easy-to-understand interface. Built to emulate the traditional spreadsheet experience (i.e., point and click, highlighting, etc.), the Demand Curve Analyzer enables users with varying levels of technological expertise to manipulate large quantities of data apply measures of demand.</p>
        <p class="lead"><strong>Current features:</strong></p>
        <ul class="lead">
          <li>&#9658; Import data using common formats (*.xlsx)</li>
          <li>&#9658; Save results in common formats (*.xlsx)</li>
          <li>&#9658; Visual selection of data for analysis (i.e., point and click operation)</li>
          <li>&#9658; Easy access to specific, empirically-validated curve-fitting methods (no programming)</li>
          <li>&#9658; Publication-quality graphics</li>
        </ul>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.First row-->

<hr class="extra-margin">

<!--Fourth row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DemandMain.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Extensive Modeling Options</h2></a>
        <p class="lead">Demand Curve Analyzer offers access to a range of common models of demand. The models available include the linear, exponential, and exponentiated models of demand.</p>
        <p class="lead"><strong>Model Fitting Outputs:</strong></p>
        <ul class="lead">
          <li>&#9658; Demand elasticity (pMax)</li>
          <li>&#9658; Fitted parameters for all models (Q0, alpha, etc.)</li>
          <li>&#9658; Variable methods for determining K scaling parameter</li>
        </ul>
    </div>
    <!--/.Post excerpt-->
</div>

<hr class="extra-margin">

<!--Second row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DemandPlot.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Advanced Graphing Capabilities</h2></a>
        <p class="lead">Demand Curve Analyzer provides automated access to rich graphical capabilities. Visual illustrations of all fitted demand models are shown to the user.</p>
        <p class="lead"><strong>Graphical outputs include:</strong></p>
        <ul class="lead">
          <li>&#9658; Visual displays of demand in linear/log space</li>
          <li>&#9658; Displays of fitted/predicted model values with raw data overlay</li>
          <li>&#9658; Plotted results can be saved directly from the graphics window</li>
        </ul>
    </div>
    <!--/.Post excerpt-->
</div>
