<!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="h1-responsive">Downloads</h1>

            <p class="lead">While the Small n Stats program emphasizes the use of technology and statistics, not all products are released in binary (usable, installable) forms. The majority of these projects, while conceptually sound, have not yet been validated and evaluated through a peer-reviewed process. Once formally reviewed, usable binaries (e.g., installation files) will be posted and updated for general use.</p>

            <p class="lead">While install files aren't always posted, the source code for building these works is always kept up to date. As such, users will this skill set (and curiousity) are welcome to evaluate to use the software to their own ends. If doing so, feedback and pull requests are always welcomed (properly formatted, commented, and credited of course).</p>
        </div>
    </div>
</div>
<!--/.Header row-->

<!--First row-->
<div class="row" data-wow-delay="0.2s">

    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DMSQTSheet.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-5">
        <a href="modelselector.html"><h2 class="post-title">Discounting Model Selector</h2></a>
        <p class="lead">The Discounting Model Selector is a cross platform computer program that automates approximate Bayesian model comparison methods. This program allows researchers and clinicians with to perform an empirical comparison of Discounting models for individual and batched series of data. While robust and powerful, many of these methods require specialized statistical and programming skills to perform. These complex methods have been simplified by Discounting Model Selector through the use of an easy-to-use interface resembling common spreadsheet software.</p>
        <p class="lead">The DMS should not need any other software to be installed or to run.</p>
        <div class="read-more">

            <a href="https://github.com/miyamot0/ModelSelectorQt/releases/tag/1.0" class="btn btn-success btn-raised">Windows Install</a>

            <a href="https://github.com/miyamot0/ModelSelectorQt/releases/tag/1.0" class="btn btn-success btn-raised">OSX Install</a>
            
            <a href="https://github.com/miyamot0/ModelSelectorQt" class="btn btn-info btn-raised">Source Code</a>
        </div>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.First row-->

<!--First row-->
<div class="row" data-wow-delay="0.2s">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/HomeDemand.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-5">
        <a href="demand.html"><h2 class="post-title">Demand Curve Analyzer</h2></a>
        <p class="lead">The Demand Curve Analyzer (DCA) is designed to assist clinicians and researchers in conducting behavior economic analyses while also providing more accessible options for these calculations. Demand Curve Analyzer interacts with ALGLIB, a computer library designed to perform linear algebra, to faciliate multiple forms of model fitting while retaining a simple, spreadsheet-based interface with visual guidance. This project is fully open-sourced under a GPL-license (v3) and all source code is completely available (between the current source and in the beezdemand package).</p>
        <p class="lead">The DCA should not need any other software to be installed or to run.</p>
        <div class="read-more">
            <a href="https://github.com/miyamot0/DemandCalculatorQT/releases/tag/1.0" class="btn btn-success btn-raised">Windows Install</a>        
            <a href="https://github.com/miyamot0/DemandCalculatorQT/releases/tag/1.0" class="btn btn-success btn-raised">OSX Install</a>
            
            <a href="https://github.com/miyamot0/DemandCalculatorQT" class="btn btn-info btn-raised">Source Code</a>
        </div>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.First row-->

<!--First row-->
<div class="row" data-wow-delay="0.2s">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DataTrackerEvaluation.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-5">
        <a href="datatracker.html"><h2 class="post-title">Data Tracker</h2></a>
        <p class="lead">Data Tracker is a computer-based electronic data collection tool designed for researchers and clinicians measuring behavior in real-time. It is designed to easily accomodate situation where complex, simultaneous forms of behavior need to be recorded. This program calculations measures of agreement, provides a range of reports, visualizes on-going data recording, and outputs behavioral measurements in a range of formats.</p>
        <p class="lead">The DMS should not need any other software to be installed or to run.</p>
        <div class="read-more">
            <a href="downloads/DataTrackerInstallQt.exe" class="btn btn-success btn-raised" onclick="ga('send', { hitType: 'event', eventCategory: 'Button', eventAction: 'Click', eventLabel: 'DT Install Windows' });">Windows Install</a>        
            <a href="downloads/DataTrackerInstaller.dmg" class="btn btn-success btn-raised" onclick="ga('send', { hitType: 'event', eventCategory: 'Button', eventAction: 'Click', eventLabel: 'DT Install OSX' });">OSX Install</a>
            
            <a href="https://github.com/miyamot0/DataTracker3" class="btn btn-info btn-raised">Source Code</a>
        </div>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.First row-->