  <!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="h1-responsive">Fast Talker</h1>
            <p class="lead">Fast Talker is a speech-generating application that was designed to be used by clinicians and researchers working with complex communication disorders and learning needs.</p>
            <p class="lead">This program works on apple and android hardware and offers a range of within-stimulus options and arrangements that align with established procedures and protocols for treating communication disorders.</p>
            <p class="lead"><strong>Requirements</strong></p>
            <ul class="lead">
              <li> &#9658; A tablet device (either Apple iPad or Android device)</li>
              <li> &#9658; Device must have a camera (for customized icon setups).</li>
            </ul>
            <p class="lead"><strong>Status: Beta testing, undergoing research trials currently</strong></p>
            <div class="read-more">
              <a href="https://github.com/miyamot0/FastTalker" class="btn btn-info btn-raised">Source Code</a>
            </div>
        </div>
    </div>
</div>
<!--/.Header row-->

<!--First row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/FT-Drag.gif" class="img-responsive" alt="">
        </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Drag and Drop Interaction</h2></a>
        <p class="lead">The Fast Talker is designed to be operated entirely through visual means. Icons are individual selected or dragged into a frame for speech output. All methods were designed to emulate the behavior of traditional icon-exchange procedures.</p>
        <p class="lead"><strong>Current features:</strong></p>
        <ul class="lead">
          <li>&#9658; Individual icon and frame-based operation</li>
          <li>&#9658; A range of size- and color-based within-stimulus modifications</li>
          <li>&#9658; 3000+ embedded icons, with the option to create your own with a device camera</li>
          <li>&#9658; Options for locking the device to the Fast Talker application (only Android has been evaluated)</li>
        </ul>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.First row-->

<hr class="extra-margin">

<!--Fourth row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/FT-Modify.gif" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Easily modify and update visual fields</h2></a>
        <p class="lead">The Fast Talker was designed to be used by clinicians and educators. Changes to the visual field (e.g., changing icon sizes, adding/removing icons, adding frames) can be done quickly without requiring a computer or internet connection. Time-based methods for limiting the learner's access to settings (e.g., orange mode) allow for a single, simple interface for all users.</p>
        <p class="lead">The interface was designed and modified with the input of teachers, graduate students, and researchers throughout the course of randomized controlled trials comparing newer, tablet-based communication treatments to traditional icon-based communication treatments.</p>
    </div>
    <!--/.Post excerpt-->
</div>

<hr class="extra-margin">

<!--Second row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/FT-Folders.gif" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Simplified Folders/Pages</h2></a>
        <p class="lead">The Fast Talker program enables users to add Folders when the number of icons in the field grows larger. This process was designed to simplify the user experience by limiting hierarchical "depth" and maintaining high levels of discriminability for non-readers</p>
        <p class="lead">The folder system is easily operated by a child and is modeled around the use of picture icons and laminated pages--Icons are dragged into folder similar to how icons are placed on other pages. </p>

    </div>
    <!--/.Post excerpt-->
</div>