
<!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="h1-responsive">The Small n Stats Project</h1>
            <p class="lead">The Small n Stats project is an effort to encourage scientists, researchers and clinicians to incorporate technology and computer science in the study and treatment of socially-significant issues. The majority of these projects and guides focus on how technology can be integrated into clinical issues to assess outcomes, guide decision-making, and generate novel avenues for treatment.</p>
        </div>
    </div>
</div>
<!--/.Header row-->

<hr class="extra-margin">

<!--DMS QT row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/HomeDiscounting.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-5">
        <a href="ModelSelectorQT.html"><h2 class="post-title">Discounting Model Selector</h2></a>
        <p class="lead">The Discounting Model Selector (DMS) is a cross platform (Windows, OS X, Linux) program that allows users with minimal familiarity with statistical software to easily employ approximate Bayesian model selection methods with temporal discounting data. These methods can provide basic researchers and applied clinicians with an easy-to-use, empirical comparison of the multiple models available for modeling discounting in individual series of data.</p>
        <p class="lead"><strong>Status: Published</strong></p>
        <div class="read-more">
            <a href="ModelSelectorQT.html" class="btn btn-info btn-block btn-raised">Learn more</a>
        </div>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.DMS QT row-->

<hr class="extra-margin">

<!--DMS Web row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/webDMS.gif" class="img-responsive" alt="">
        </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-5">
        <a href="ModelSelectorWeb.html"><h2 class="post-title">Discounting Model Selector (Web)</h2></a>
        <p class="lead">The Discounting Model Selector (Web) is an online program that allows users to employ approximate Bayesian model selection methods with temporal discounting data. These methods can provide basic researchers and applied clinicians with an easy-to-use, empirical comparison of the multiple models available for modeling discounting in individual series of data.</p>
        <p class="lead"><strong>Status: Open beta testing</strong></p>
        <div class="read-more">
            <a href="ModelSelectorWeb.html" class="btn btn-info btn-block btn-raised">Learn more</a>
        </div>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.DMS Web row-->

<hr class="extra-margin">

<!--DataTracker row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DataTrackerViewer.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a href="DataTracker.html"><h2 class="post-title">Data Tracker</h2></a>
        <p class="lead">The Data Tracker program is a cross platform tool that can be used to measure behavior in real-time. Using computer- and key-based scoring, data can be scored by frequency/rate and duration by multiple observers. Additionally, the Data Tracker program calculates observer agreements, automates reports, provides charting, and streamlines the collection and synthesis of behavioral data. The program runs on Windows, OSx, and Linux and can be used in both research and clinicial applications.</p>
        <p class="lead"><strong>Status: Open Beta Testing</strong></p>
        <div class="read-more">
            <a href="DataTracker.html" class="btn btn-info btn-block btn-raised">Learn more</a>
        </div>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.DataTracker row-->

<hr class="extra-margin">

<!--Demand row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/HomeDemand.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a href="DemandCurveQT.html"><h2 class="post-title">Demand Curves</h2></a>
        <p class="lead">The Demand Curve Analyzer (DCA) is a cross platform (Windows, OS X, Linux) program that allows users with minimal familiarity with statistical software to easily employ behavior economic analyses to consumption data. The DCA a tool that facilitates the calculation of analyses common in economic and behavior economic research. These methods have been used in a range of basic and applied research and have historically required extensive training and costly software to perform.</p>
        <p class="lead"><strong>Status: Undergoing Evaluation</strong></p>
        <div class="read-more">
            <a href="DemandCurveQT.html" class="btn btn-info btn-block btn-raised">Learn more</a>
        </div>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.Demand row-->

<hr class="extra-margin">

<!--Fourth row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/FT-Folders.gif" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a href="FastTalker.html"><h2 class="post-title">Fast Talker</h2></a>
        <p class="lead">Fast Talker is a cross platform mobile application designed to be used by educators and clinicians treating a range of communication disorders. It is designed to be used within evidence-based practices as a tool to both teach and enhance alternative and augmentative forms of communication.</p>
        <p class="lead"><strong>Status: Undergoing Research Trials</strong></p>
        <div class="read-more">
            <a href="FastTalker.html" class="btn btn-info btn-block btn-raised">Learn more</a>
        </div>
    </div>
    <!--/.Post excerpt-->
</div>

<hr class="extra-margin">
