  <!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="h1-responsive">Discounting Model Selector</h1>
            <p class="lead">The Discounting Model Selector is a cross platform computer program that automates approximate Bayesian model comparison methods. This program allows researchers and clinicians with to perform an empirical comparison of Discounting models for individual and batched series of data. While robust and powerful, many of these methods require specialized statistical and programming skills to perform. These complex methods have been simplified by Discounting Model Selector through the use of an easy-to-use interface resembling common spreadsheet software.</p>
            <p class="lead">All computations can be performed solely with "point and click" types of operations (no programming experience necessary), though all source code and script file are are publicly shared via Github.</p>
            <p class="lead"><strong>Requirements</strong></p>
            <ul class="lead">
              <li>&#9658; Windows / OS X 10.6+ / modern Linux distro</li>
              <li>&#9658; Internet access, for installation and updates.</li>
            </ul>
            <p class="lead"><strong>Status: Released</strong></p>
            <div class="read-more">
              <a href="downloads.html" class="btn btn-success btn-raised">Download</a>
              <a href="https://github.com/miyamot0/ModelSelectorQt" class="btn btn-info btn-raised">Source Code</a>
            </div>
        </div>
    </div>
</div>
<!--/.Header row-->

<!--First row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DMSQTSheet.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Spreadsheet Interface</h2></a>
        <p class="lead">Discounting Model Selector emphasizes a straightforward, familiar and easy-to-understand interface. Built with the aim to emulate the traditional spreadsheet experience (i.e., point and click, highlighting, etc.), Discounting Model Selector enables users with varying levels of technological expertise to manipulate large quantities of data apply complex statistical methods.</p>
        <p class="lead"><strong>Current features:</strong></p>
        <ul class="lead">
          <li>&#9658; Import data using common formats (*.xlsx)</li>
          <li>&#9658; Save results in common formats (*.xlsx)</li>
          <li>&#9658; Visual selection of data for analysis (i.e., point and click operation)</li>
          <li>&#9658; Easy access to specific, empirically-validated curve-fitting methods (ALGLIB)</li>
          <li>&#9658; Publication-quality graphics</li>
        </ul>
    </div>
    <!--/.Post excerpt-->
</div>
<!--/.First row-->

<hr class="extra-margin">

<!--Second row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DMSQTMain.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Extensive Modeling Options</h2></a>
        <p class="lead">Discounting Model Selector allows users to analyze and compare a range of common models of intertemporal choice (AKA delay discounting). The model available include Samuelson's exponential model, Mazur's hyperbolic model, Laibson's quasi-hyperbolic/beta-delta model, Myerson and Green's two-parameter hyperboloid model and Rachlin's two-parameter hyperboloid model.</p>
        <p class="lead"><strong>Model Fitting Outputs:</strong></p>
        <ul class="lead">
          <li>&#9658; Model competition results</li>
          <li>&#9658; Fitted parameters for all models (1-, and 2-parameter models)</li>
          <li>&#9658; Derived ED50 for all fitted models</li>
          <li>&#9658; ED50 calculations for the most competitive model</li>
        </ul>
    </div>
    <!--/.Post excerpt-->
</div>
<!--Second row-->

<hr class="extra-margin">

<!--Third row-->
<div class="row">
    <!--Featured image-->
    <div class="col-lg-7">
        <div class="well">
            <img src="img/DMSQTPlot.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--Featured image-->

    <!--/.Post excerpt-->
    <div class="col-lg-5">
        <a><h2 class="post-title">Advanced Graphing Capabilities</h2></a>
        <p class="lead">Discounting Model Selector provides automated access to rich graphical capabilities. After the results of model competition, visual illustrations of all models fitted/compared are shown to the user using rich graphical methods. The figures displayed to the user exported to a range of formats.</p>
        <p class="lead"><strong>Graphical outputs include:</strong></p>
        <ul class="lead">
          <li>&#9658; Visual displays of model behavior in linear/log space</li>
          <li>&#9658; Displays of fitted/predicted model values with raw data overlay</li>
          <li>&#9658; X-axis in log scale for easily visualization of ED50 output</li>
          <li>&#9658; Plotted results can be copied directly from the graphics window</li>
        </ul>
    </div>
    <!--/.Post excerpt-->
</div>
<!--Third row-->
